*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{scroll-behavior:smooth;position:relative;}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;}
html{scroll-behavior:smooth;width:100%;}
html{--poppins:Poppins;--black-ash-text:#263238;--helvetica:Helvetica;--wgt700:700;--wgt400:400;--white-ash:#F1F1F1;--gray:#849DA9;--login-color:#8338EC;--width100:100%;--white-text:#fff;--blue-icon-color:#3A86FF;}
main{width:var(--width100);}
.login-body{display:flex;margin:0px auto;flex-direction:column;align-items:center;justify-content:center;padding:100px 0 200px;}
.box-logo .box{width:120px;position:relative;height:120px;display:flex;justify-content:center;align-items:center;}
.box-logo .box img{width:80%;height:80%;}
.welcome-header h4{color:var(--black-ash-text);font-size:25px;font-family:var(--poppins);font-weight:700;}
.welcome-header{margin-top:20px;}
.form-input{width:300px;}
.form-flex{display:flex;align-items:center;}
.form-input form .input-email,.form-input form .input-password{width:var(--width100);}
.form-input form .input-password{margin-top:10px;}
.form-input form .input-email label,.form-input form .input-password label{font-weight:var(--wgt400);font-size:15px;color:var(--black-ash-text);}
.form-input form .input-email input,.form-input form .input-password input{width:var(--width100);height:40px;background-color:var(--white-ash);border:1px solid var(--gray);margin-top:5px;color:var(--black-ash-text);font-family:var(--poppins);}
.form-input form .input-email input,.form-input form .input-password input{font-size:16px;padding:0 5px;}
.form-input form .login-btn{width:var(--width100);margin-top:30px;}
.form-input form .login-btn button{background-color:var(--login-color);width:var(--width100);height:45px;border:var(--blue-icon-color);font-family:var(--poppins);font-weight:600;font-size:17px;color:var(--white-text);border-radius:8px;}
.form-input .form-head{display:flex;flex-direction:column;align-items:center;margin-bottom:20px;}