*{padding:0;margin:0;outline:none;box-sizing:border-box;}
body{scroll-behavior:smooth;position:relative;background-color:var(--home-color);}
body{width:100%;font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;}
html{scroll-behavior:smooth;width:100%;}
html{--poppins:Poppins;--black-ash-text:#263238;--helvetica:Helvetica;--wgt700:700;--wgt400:400;--white-ash:#F1F1F1;--gray:#849DA9;--submit-color:#8338EC;--width100:100%;--white-text:#fff;--home-color:#FAFAFA;--blue-icon-color:#3A86FF;}
.body-home{display:flex;width:var(--width100);position:relative;}
.body-home aside{width:5%;background-color:var(--white-text);display:flex;flex-direction:column;position:fixed;top:0;bottom:0;z-index:1;}
/* .body-home aside .fixed-side-bar{position:fixed;bottom:0;top:0;width:inherit;padding-top:30px;} */
.body-home aside .fixed-side-bar{display:flex;flex-direction:column;align-items:center;justify-content:center;padding-top:30px;width:100%;}
.body-home main{width:95%;background-color:var(--home-color);margin-left:5%;}
.side-menu .box-logo{width:50px;height:50px;margin:0 auto;margin-bottom:40px;}
.side-menu .box-logo a img{width:var(--width100);height:var(--width100);}
.side-menu .menu ul{display:flex;justify-content:center;flex-direction:column;align-items:center;}
.side-menu .menu ul li{list-style:none;margin:15px 0;}
.side-menu .menu ul li object{width:20px;height:20px;pointer-events:none;}
.side-menu .menu ul li:nth-child(1) object{filter:brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(417%) hue-rotate(257deg) brightness(92%) contrast(87%);}
.side-menu .menu ul li:nth-child(2) object{filter:brightness(0) saturate(100%) invert(44%) sepia(43%) saturate(6261%) hue-rotate(210deg) brightness(114%) contrast(102%);transition:all .2s;}
.side-menu .menu ul li object:hover,.side-menu .menu ul li object:focus{filter:brightness(0) saturate(100%) invert(44%) sepia(43%) saturate(6261%) hue-rotate(210deg) brightness(114%) contrast(102%);transition:all .2s;}
.side-menu .menu ul li:nth-child(1) object:focus{filter:brightness(0) saturate(100%) invert(44%) sepia(43%) saturate(6261%) hue-rotate(210deg) brightness(114%) contrast(102%);transition:all .2s;}
.main-menu{padding:50px 0 100px;position:relative;}
.main-menu .add-event{width:100%;display:flex;flex-direction:column;padding-left:100px;}
.main-menu .add-event .add-event-header h2{color:var(--black-ash-text);}
.main-menu .add-event .view-events{width:95%;margin-right:auto;margin-top:30px;}
.main-menu .add-event .view-events .events-header{display:flex;flex-wrap:wrap;}
.events-header .events{width:33.33%;height:550px;margin-bottom:30px;}
.events-header .events .event-flex{width:90%;margin-right:auto;background-color:var(--home-color);box-shadow:0px 0px 8px 0px #8C8C8C40;border-radius:6px;height:inherit;}
.events-header .events .event-flex .events-home{padding:20px 0 30px;width:90%;height:inherit;margin:0 auto;display:flex;justify-content:space-between;flex-direction:column;}
.events-header .events .event-flex .events-home .events-images{width:100%;border-radius:4px;height:220px;}
.events-header .events .event-flex .events-home .events-images img{border-radius:4px;width:100%;height:100%;}
.events-header .events .event-flex .events-home .events-descriptions .evt{margin-bottom:5px;}
.events-header .events .event-flex .events-home .events-descriptions .evt:first-child p{font-weight:var(--wgt700);}
.events-header .events .event-flex .events-home .events-descriptions .evt p{color:var(--black-ash-text);font-size:15px;line-height:17px;}
.events-header .events .event-flex .events-home .events-descriptions .evt p span:first-child{font-weight:var(--wgt700);}
.events-header .events .event-flex .events-home .events-cash p{padding:7px 15px;border:1px solid var(--black-ash-text);color:var(--black-ash-text);border-radius:100px;width:fit-content;}
.events-header .events .event-flex .events-home .events-confirmation .event-btn{display:flex;justify-content:space-between;}
.events-header .events .event-flex .events-home .events-confirmation .event-btn button{width:50%;padding:10px 0;border-radius:4px;color:#fff;font-family:var(--poppins);font-weight:var(--wgt700);font-size:15px;}
.events-header .events .event-flex .events-home .events-confirmation .event-btn button:first-child{margin-right:15px;}
.events-header .events .event-flex .events-home .events-confirmation .event-btn button:last-child{margin-left:15px;}
.events-header .events .event-flex .events-home .events-confirmation .event-btn .view-btn{background-color:#8338EC;border:1px solid #8338EC;}
.events-header .events .event-flex .events-home .events-confirmation .event-btn .delete-btn{background-color:#FB5607;border:1px solid #FB5607;}
.events-header .events .event-flex .events-home .events-descriptions .evt:not(:last-child) p{text-transform:capitalize;}
.view-clicked-event{width:var(--width100);height:100vh;position:fixed;background-color:rgba(250, 250, 250,50%);z-index:1;;display:none;}
.view-clicked-event .viewed-event{position:relative;width:var(--width100);;height:100vh;display:flex;justify-content:center;align-items:center;z-index:2;}
.viewed-event .evt-view{width:70%;box-shadow:0px 0px 20px 4px rgba(0, 0, 0, 25%);background-color:var(--white-text);height:90vh;z-index:3;border-radius:10px;position:relative;padding:30px;}
.evt-view .view-rewards{display:flex;}
.viewed-event .evt-view{display:flex;flex-direction:column;justify-content:space-between;}
.evt-view .view-rewards .rewards-slots{width:50%;}
.evt-view .view-rewards .rewards .reward-image{width:200px;height:200px;border-radius:10px;}
.evt-view .view-rewards .rewards .reward-image img{width:100%;height:100%;border-radius:10px;}
.evt-view .view-rewards .rewards .spin{margin-top:10px;}
.evt-view .view-rewards .rewards .spin p{font-size:30px;font-weight:var(--wgt700);line-height:30px;}
.evt-view .view-rewards .rewards .rewards-descriptions{margin-top:10px;}
.evt-view .view-rewards .rewards .rewards-descriptions .rew{margin-bottom:4px;}
.evt-view .view-rewards .rewards .rewards-descriptions .rew:first-child p{font-weight:var(--wgt700);}
.evt-view .view-rewards .rewards .rewards-descriptions .rew p{font-size:15px;line-height:15px;}
.evt-view .view-rewards .rewards .rewards-descriptions .rew p span{font-weight:var(--wgt700);}
.evt-view .view-rewards .rewards .rewards-descriptions .rew:not(:last-child) p{text-transform:capitalize;}
.evt-view .view-rewards .view-slots .box-slot{border:1px solid var(--submit-color);width:90%;height:100%;border-radius:50px;margin-left:auto;}
.evt-view .view-rewards .view-slots .box-slot{display:flex;justify-content:center;align-items:center;flex-direction:column;}
.evt-view .view-rewards .view-slots .box-slot .number-of-slot{margin-bottom:20px;}
.evt-view .view-rewards .view-slots .box-slot .number-of-slot p{font-weight:var(--wgt700);font-size:40px;}
.evt-view .view-rewards .view-slots .box-slot .get-winner button{border:1px solid var(--submit-color);background-color:var(--submit-color);padding:10px 25px;border-radius:4px;color:var(--white-text);font-family:var(--poppins);}
.viewed-event .evt-view .close-header{display:flex;justify-content:center;margin:10px 0;}
.viewed-event .evt-view .close-header button{background-color:#FB5607;border:1px solid #FB5607;padding:10px 35px;font-family:var(--poppins);border-radius:4px;color:var(--white-text);}
.evt-view .view-rewards .view-slots .box-slot .get-winner button,.viewed-event .evt-view .close-header button{cursor:pointer;font-weight:400;}
.add-event-header .notFound{margin-top:20px;}
.add-event-header .notFound p{color:red;}
.add-event-header{padding-right:100px;}
.main-menu .success-header .success::after{content:"";width:0%;height:2px;position:relative;display:block;background-color:rgba(40, 167, 69,20%);margin-top:10px;}
.main-menu .success-header .success::after{animation-name:success;animation-duration:1s;animation-fill-mode:forwards;}
.main-menu .success-header{width:var(--width100);text-align:center;position:fixed;z-index:999;top:0;transition:all .5s;}
.main-menu .success-header .success{background-color:red;text-align:center;width:var(--width100);padding:10px 0 0px;transition:all .5s;position:relative;}
.main-menu .success-header .success p{font-family:var(--poppins);font-weight:500;font-size:16px;color:var(--white-text);}


@media screen and (min-width:800px) and (max-width:1000px){
    .events-header .events .event-flex .events-home .events-confirmation .event-btn{flex-direction:column;}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn button{width:100%;padding:6px 0}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn button:first-child{margin-right:0;margin-bottom:5px;;}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn button:last-child{margin-left:0;}
    .side-menu .menu ul li object{width:30px;height:30px;}
    .body-home aside{width:7%;}
    .body-home main{width:93%;margin-left:7%;}
    .main-menu .add-event{padding-left:50px;}
    .events-header .events .event-flex .events-home .events-cash p{padding:4px 10px;font-size:15px;}
    .side-menu .box-logo{width:45px;height:45px;}
    /* .viewed-event .evt-view{he} */
}
@media screen and (min-width:700px) and (max-width:799px){
    .side-menu .box-logo{width:35px;height:35px;}
    .main-menu .add-event{padding-left:50px;}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn{flex-direction:column;}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn button{width:100%;padding:6px 0}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn button:first-child{margin-right:0;margin-bottom:5px;;}
    .events-header .events .event-flex .events-home .events-confirmation .event-btn button:last-child{margin-left:0;}
    .side-menu .menu ul li object{width:30px;height:30px;}
    .main-menu .add-event .input-event{width:90%;}
}